navbar

.container
  md-button.md-raised.md-primary(type="button" ng-click="showDialog()" style="margin-left:0px") Send text
  p.text-white The delete user and user index api routes are restricted to users with the 'admin' role.
    p.text-white(ng-repeat='user in users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      md-button#deleteUserButton.md-fab.md-mini(type="submit" title="delete" data-toggle="tooltip" ng-click='delete(user)' aria-label="deleteUser")
        span.glyphicon.glyphicon-trash
          
  form.col-xs-6(style="padding-left:0px")
    label(for="aboutMeInput" style="margin-bottom:10px")
      | Profile Picture
    input#aboutMeInput(type="text" ng-model="aboutMeUrl").form-control
    md-button#update-picture(ng-click="updatePicture()") Update Picture  

footer
  
modal-dialog(show="dialogVisible" dialog-title="Send text message to users" height="250px" width="30%")
  textarea(placeholder="Hey everyone! Check out the new video." ng-model="textBody" style="margin-top:20px;height:100px;").form-control
    div(style="margin-top:10px")
      button.btn.btn-xs.btn-default(ng-click="hideDialog()")
        | Cancel
      button.btn.btn-xs.btn-success#removeItemButton(ng-click="sendText(textBody)")
        | Send Text
