navbar

.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in admin.users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='admin.delete(user)')
        span.glyphicon.glyphicon-trash.pull-right

.container
  h3
    | Default Color Theme
  .col-xs-12
    div.color1Default.col-xs-5.colorPanel
    div.col-xs-7
  .col-xs-12
    div.color2Default.col-xs-5.colorPanel
    div.col-xs-7
  .col-xs-12
    div.color3Default.col-xs-5.colorPanel
    div.col-xs-7
  .col-xs-12
    div.color4Default.col-xs-5.colorPanel
    div.col-xs-7
  .col-xs-12
    div.color5Default.col-xs-5.colorPanel
    div.col-xs-7
 
.container
  h3
    | Custom Color Theme
  .col-xs-12
    div.color1Default.col-xs-5.colorPanel(ng-style="{'background-color': customColor1}")
    div.col-xs-7
  .col-xs-12
    div.color2Default.col-xs-5.colorPanel(ng-style="{'background-color': customColor2}")
    div.col-xs-7
  .col-xs-12
    div.color3Default.col-xs-5.colorPanel(ng-style="{'background-color': customColor3}")
    div.col-xs-7
  .col-xs-12
    div.color4Default.col-xs-5.colorPanel(ng-style="{'background-color': customColor4}")
    div.col-xs-7
  .col-xs-12
    div.color5Default.col-xs-5.colorPanel(ng-style="{'background-color': customColor5}")
    div.col-xs-7

.container
  form
    br
    | Color 1: 
    input.textBoxPadding(type="text", placeholder="#094d74", ng-model="customColor1")
    br
    | Color 2: 
    input.textBoxPadding(type="text", placeholder="#759cd8", ng-model="customColor2")
    br
    | Color 3: 
    input.textBoxPadding(type="text", placeholder="#9cb9d1", ng-model="customColor3")
    br
    | Color 4: 
    input.textBoxPadding(type="text", placeholder="#cfdaec", ng-model="customColor4")
    br
    | Color 5: 
    input.textBoxPadding(type="text", placeholder="#eef0f6", ng-model="customColor5")
    br
      
    a.btn.btn-xs.btn-default.textBoxPadding(ng-click="admin.saveCustomColorTheme()")
      | Save 
    br
    br
