.user-list {
	li {
		display: flex;
		border: none;
		border-bottom: 1px lightgray solid;
		margin-bottom: 0;
		&:last-child { border-bottom: none; }

		.user-info {
			flex-grow: 1;
		}
		.trash {
			display: flex;
			align-items: center;
			text-decoration: none;
		}
	}
}

.ng-modal-dialog {
	background-color: #777777;
}

#update-picture {
	margin-top: 12px;
	margin-left: 0px;
	background: #777777;
}

#deleteUserButton {
	float: right;
	margin-top: 0px;
}

.colorPanel {
	height:40px;
}

.color1Default {
	background-color:#094d74;
}

.color2Default {
	background-color:#759cd8;
}

.color3Default {
	background-color:#9cb9d1;
}

.color4Default {
	background-color:#cfdaec;
}

.color5Default {
	background-color:#eef0f6;
}

.textBoxPadding {
	margin-top:8px;
}
