navbar
.container
  p
    | The delete user and user index api routes are restricted to users with the 'admin' role.
  ul.list-group
    li.list-group-item(ng-repeat='user in admin.users')
      strong {{user.name}}
      br
      span.text-muted {{user.email}}
      a.trash(ng-click='admin.delete(user)')
        span.glyphicon.glyphicon-trash.pull-right
      
<!-- Admin form to change web site theme colors -->
.container
  h3
    | Default Theme Colors
  .col-xs-12
    div.color1Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color2Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color3Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color4Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color5Default.col-xs-5
    div.col-xs-7

.container
  h3
    | Custom Theme Colors
  .col-xs-12
    div.color1Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color2Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color3Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color4Default.col-xs-5
    div.col-xs-7
  .col-xs-12
    div.color5Default.col-xs-5
    div.col-xs-7
      
.container
  form
    br
    br
    | Color 1: 
    input(type="text")
    br
    | Color 2: 
    input(type="text")
    br
    | Color 3: 
    input(type="text")
    br
    | Color 4: 
    input(type="text")
    br
    | Color 5: 
    input(type="text")
    br
    br
    br
