br

md-label Enter your phone number to subscribe and recieve updates from Jarmone via text message!
  
br

md-input-container
  input#inputPhoneNumber(aria-label="Phone Number Input" ng-model="phoneNumber" ui-mask="(999) 999-9999")
  md-button.md-raised.md-primary(ng-click="createContact()") Subscribe 
