navbar
.container
  form(ng-submit="submit()")
    .form-group
      label(for="Name") Name/Organization *
      input.form-control(type="text", name="Name", ng-model="propName")
    .form-group
      label(for="Email") Contact Email *
      input.form-control(type="email", name="Email", ng-model="email")
    .form-group
      label(for="Phone") Contact Phone *
      input.form-control(type="tel", name="Phone", ng-model="phoneNum")
    .form-group
      label(for="Date") Event Date *
      input.form-control(type="date", name="Date", ng-model="myDate")
    .form-group
      label(for="Type") Type of Event * &nbsp;
      br
      select(name="Type", ng-model="eventType")
        option(value="Speaking") Speaking
        option(value="Music") Music
    .form-group
      label(for="Description") Event Description *
      textarea.form-control(name="Description", rows="3", ng-model="descript")
    br
    input(type="submit" value="Submit")

footer
