navbar
.container
  .row
    .col-sm-12
      h1 Login
      p
        | Accounts are reset on server restart from 
        code server/config/seed.js
        | . Default account is 
        code test@example.com
        |  / 
        code test
      p
        | Admin account is 
        code admin@example.com
        |  / 
        code admin

    .col-sm-12
      form.form(name='form', ng-submit='vm.login(form)', novalidate='')
        md-input-container.booking-stretch
          label(for='email') Email
          input(type='email', name='email', ng-model='vm.user.email')
        br
        md-input-container.booking-stretch
          label(for='password') Password
          input(type='password', name='password', ng-model='vm.user.password')

        .form-group.has-error
          p.help-block(ng-show='form.email.$error.required && form.password.$error.required && vm.submitted')
            | Please enter your email and password.
          p.help-block {{ vm.errors.other }}

        .row
          .col-lg-6.col-md-6.col-sm-6.col-xs-12.text-right
            md-button.md-raised.md-primary#login(type='submit') Login
          .col-lg-6.col-md-6.col-sm-6.col-xs-12
            md-button.md-raised.md-warn(ui-sref='signup') Register

        hr

        .row
          .col-sm-4.col-md-3
            oauth-buttons(classes='btn-block')
footer
