
#signupNavContainer.col-xs-12.skyBlueBackground
  form#signupContainer.col-xs-8.col-sm-6.form-inline
    .col-xs-12
      label(for="signupEmailBox" style="margin-top:8px; text-align:center").col-md-3.col-lg-2.control-label.labelNoFormat.hidden-xs.hidden-sm
        | Get Updates
      input(ui-mask="(999) 999-9999" ng-model="ctrl.phoneNumber")#signupEmailBox.col-xs-7.col-md-4.col-lg-3.form-control-no-wrap
      button.btn.btn-xs.btn-default.col-xs-4.col-md-3.col-lg-2#subscribeButton(ng-click="ctrl.createContact()")
        | Subscribe
      .col-lg-5.col-md-2

  .col-sm-1
  .col-xs-4.col-sm-5
    table.pull-right
      tr
        td.clickable
          a(href="https://www.facebook.com/JarmoneDavisMedia/")
            img(src="../assets/images/facebook_circle.png").socialMediaIcon.clickable

        td.iconSpacer

        td.clickable
          a(href="https://www.youtube.com/channel/UCBWT4QoCrNRuH54uhL4-B3Q")
            img(src="../assets/images/youtube_circle.png").socialMediaIcon.clickable

        td.iconSpacer

        td.clickable
          a(href="http://www.twitter.com")
            img(src="../assets/images/twitter_circle.png").socialMediaIcon.clickable

        td.iconSpacer

        td.clickable
          a(href="https://www.linkedin.com")
            img(src="../assets/images/linkdin_circle.png").socialMediaIcon.clickable

        td.iconSpacer
        td.clickable
          a(ng-click="ctrl.load()")
            | here
