.footer {
  text-align: center;
  padding: 30px 20px;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
  min-height:100px;
}

.yt-uix-button {
  height:2.0833em;
  border:1px solid #ccc;
  background:#f6f6f6;
  background-image:0;
  filter:progid:DXImageTransform.Microsoft.Gradient(startColorStr=#ffffff,endColorStr=#efefef);
  -ms-filter:"progid:DXImageTransform.Microsoft.Gradient(startColorStr=#FFFFFF, endColorStr=#EFEFEF)";
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  white-space:nowrap;
  vertical-align:middle;
  cursor:pointer;
  overflow:visible;
  padding:0 .5em;
}

.yt-uix-button:hover {
  -webkit-box-shadow: #999 0px 0px 3px;
  background: #F3F3F3 -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#EBEBEB));
  border-color: #999;
  outline: 0px;
}
