.container
  .footer
    .row
      .col-xs-12.col-sm-6.col-md-6
        .h4 Contact Jarmone
          .h5 Phone Number
          .h5 Email Address

      .col-xs-12.col-sm-6.col-md-6
        .h4 Follow Jarmone
        a(href="https://www.facebook.com/JarmoneDavisMedia")
          img(src="../assets/images/facebook_circle.png").socialMediaIcon.clickable

        <script src="https://apis.google.com/js/platform.js"></script>
        a(href="https://www.youtube.com/channel/UCBWT4QoCrNRuH54uhL4-B3Q")
          img(src="../assets/images/youtube_circle.png").socialMediaIcon.clickable

        a(href="http://www.twitter.com")
          img(src="../assets/images/twitter_circle.png").socialMediaIcon.clickable

        a(href="https://www.linkedin.com")
          img(src="../assets/images/linkdin_circle.png").socialMediaIcon.clickable
.p Copyright Stuff


//img(src='../assets/images/filler_Logo.jpg' alt='Jarmone Davis Media' height='50px')
