.footer
  .container-fluid
    .row
      .col-xs-12
        hr
      .col-xs-12.col-sm-6.col-md-6
        .h4 Contact Jarmone
          .h5 Phone Number
          .h5 Email Address

      .col-xs-12.col-sm-6.col-md-6
        .h4 Follow Jarmone
          #socialMediaIcons
            md-button.md-fab.md-primary(href="https://www.facebook.com/JarmoneDavisMedia" target="_blank" aria-label="Facebook link")
              ng-md-icon(icon="facebook").clickable.text-white
            md-button.md-fab.md-primary(href="https://www.youtube.com/channel/UCBWT4QoCrNRuH54uhL4-B3Q" target="_blank" aria-label="YouTube link")
              ng-md-icon(icon="google-plus").text-white.clickable
            md-button.md-fab.md-primary(href="http://www.twitter.com" target="_blank" aria-label="Twitter link")
              ng-md-icon(icon="twitter" ).clickable.text-white
            md-button.md-fab.md-primary(href="https://www.linkedin.com" target="_blank" aria-label="Linkedin link")
              ng-md-icon(icon="linkedin").clickable.text-white
    .row
      .col-xs-12
        hr
      .col-xs-4
      .col-xs-4.md-whiteframe-1dp
        text-sign-up
      .col-xs-4
  p.text-white &copy; 2016 Force Media Group
