.container
  .footer
    a.btn.btn-social-icon.btn-lg.btn-facebook(href="https://www.facebook.com/jarmone1")
      span.fa.fa-facebook


    <script src="https://apis.google.com/js/platform.js"></script>
    img(src="/client/assets/images/YouTube-social-squircle_red_48px")
    <div class="g-ytsubscribe" data-channelid="UCBWT4QoCrNRuH54uhL4-B3Q" data-layout="default" data-theme="dark" data-count="default"></div>




