//md-button.md-raised.btn-facebook(ng-class='classes'
  ng-click='OauthButtons.loginOauth("facebook")')
  i.fa.fa-facebook
  |  Connect with Facebook

md-button.md-raised.google-btn(style='background-color: #dd4b39; color: white;' ng-class='classes' ng-click='OauthButtons.loginOauth("google")')
  i.fa.fa-google-plus
  |  Connect with Google+

//md-button.md-raised.btn-twitter(ng-class='classes' ng-click='OauthButtons.loginOauth("twitter")')
  i.fa.fa-twitter
  |  Connect with Twitter
