$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */
/*woot*/
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.deepSeaBackground {
  background-color:#094d74;
}
.deepSeaColor {
  color: #094d74;
}

.skyBlueBackground {
  background-color: #759cd8;
}

.skyBlueColor {
  color: #759cd8;
}

.crestBackground {
  background-color: #9cb9d1;
}

.crestColor {
  color: #9cb9d1;
}

.sadDayBackground {
  background-color: #cfdaec;
}

.sadDayColor {
  color: #cfdaec;
}

.cloudyBackground {
  background-color: #eef0f6;
}

.cloudyColor {
  color: #eef0f6;
}


// Component styles are injected through grunt
// injector
@import 'admin/admin.scss';
@import 'bio/bio.scss';
@import 'blog/blog.scss';
@import 'booking/booking.scss';
@import 'main/main.scss';
@import 'store/store.scss';
@import 'textSignUp/textSignUp.scss';
@import 'youtube/youtube.scss';
@import '../components/footer/footer.scss';
@import '../components/modal/modal.scss';
@import '../components/navbar/navbar.scss';
@import '../components/oauth-buttons/oauth-buttons.scss';
// endinjector
