$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
@import '../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import '../bower_components/bootstrap-social/bootstrap-social.scss';
$fa-font-path: "../bower_components/font-awesome/fonts";
@import '../bower_components/font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.deepSeaBackground {
  background-color:#094d74;
}
.deepSeaColor {
  color: #094d74;
}

.skyBlueBackground {
  background-color: #759cd8;
}

.skyBlueColor {
  color: #759cd8;
}

.crestBackground {
  background-color: #9cb9d1;
}

.crestColor {
  color: #9cb9d1;
}

.sadDayBackground {
  background-color: #cfdaec;
}

.sadDayColor {
  color: #cfdaec;
}

.cloudyBackground {
  background-color: #eef0f6;
}

.cloudyColor {
  color: #eef0f6;
}

// Component styles are injected through grunt
// injector
@import 'admin/admin';
@import 'main/main';
@import 'signupheader/signupheader';
@import '../components/footer/footer';
@import '../components/modal/modal';
@import '../components/oauth-buttons/oauth-buttons';
// endinjector
