div(ng-controller='NavbarController')
  md-toolbar
    div.md-toolbar-tools
      //md-menu
        button(ng-click="$mdOpenMenu()") File
          md-menu-content
            md-menu-item()
              md-button(ng-click="ctrl.sampleAction('share', $event)") Share...
      
      span(ng-repeat='item in nav.menu', ui-sref-active='active')
        a(ui-sref='{{item.state}}') {{item.title}}
      
      span(ng-show='nav.isAdmin()', ui-sref-active='active')
        a(ui-sref='admin') Admin
      
      span(flex)
      
      span(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
        a(ui-sref='signup') Sign up

      span(ng-hide='nav.isLoggedIn()', ui-sref-active='active')
        a(ui-sref='login') Login

      span(ng-show='nav.isLoggedIn()')
        p.navbar-text Hello {{ nav.getCurrentUser().name }}

      span(ng-show='nav.isLoggedIn()', ui-sref-active='active')
        a(ui-sref='settings')
          span.glyphicon.glyphicon-cog

      span(ng-show='nav.isLoggedIn()')
        a(ui-sref='logout') Logout

      //md-button RIGHT
      
br
//span 
  a(href='/') 
    img(src='../assets/images/filler_Logo.jpg' alt='Jarmone Davis Media' height="50px")
  
  #loader.overlay-loader.pull-right.hidden-xs
    img.loader-icon(src="../assets/images/cog03.svg", data-cog="cog03")
  span#mobileLoader.overlay-loader.pull-right.mobile-loader.visible-xs
    img.loader-icon(src="../assets/images/cog03.svg", data-cog="cog03")
