navbar

.container
  .grid
    .row
      .col-md-offset-2.col-lg-offset-2.col-md-8.col-sm-12.col-lg-8
        .center-block
          youtube(height="390" width="640" channelid="UCBWT4QoCrNRuH54uhL4-B3Q").center-block
    .row
      .col-md-12.col-sm-12.col-lg-12
        h1.text-center About Jarmone
    .row
      .col-md-3.col-sm-3.col-lg-3
        img#img-headshot.center-block.img-circle.img-responsive(src="../assets/images/headshot.png" alt="headshot image")
      .col-md-9.col-sm-9.col-lg-9
        p all the things about Jarmone's life. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aenean imperdiet. Etiam ultricies nisi vel augue.
footer
