navbar

.container
  .grid
    .row
      .col-md-12.col-sm-12.col-lg-12
        h1 Video below
        youtube
        p video should be above
        h1 About Jarmone
        div.div1
           p all the things about Jerome's life. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aenean imperdiet. Etiam ultricies nisi vel augue. 
        div.div3
          img(src="../assets/images/headshot.png")
      
        
footer
