navbar

div(ng-show="viewAll")
    .container

        div(ng-show="isAdmin")
            h3(class="list-group-item-heading") New post
            md-input-container.md-block
                label Title
                textarea(ng-model="blogpost.title" md-select-on-focus)
            md-input-container.md-block
                label Body
                textarea(rows="5" ng-model="blogpost.body" md-select-on-focus)
                div(class="btn-group")
                    md-button.md-fab.md-mini.md-primary(type="submit" data-toggle="tooltip" title="Save draft" ng-click="saveDraft()")
                        span(class="glyphicon glyphicon-floppy-save")
                    md-button.md-fab.md-mini.md-primary(type="submit" data-toggle="tooltip" title="Publish" ng-click="createPost()")
                        span(class="glyphicon glyphicon-plus")

        h2(class="nothing-here" ng-show="numPublished===0 && !isAdmin") There's nothing here
        ul(class="list-group" ng-repeat="blog in blogs | orderBy:'':true | limitTo: limit")
            li(class="list-group-item" ng-show="blog.published || isAdmin")
                div
                    div(class="btn-group" style="float:right")
                        md-button.md-fab.md-mini.md-primary(aria-label="comments" ng-click="toggleView(blog)")<!--{{numComments(blog)}} omitting - may cause space issues with > 10 comments-->
                            span(class="glyphicon glyphicon-comment")
                        md-button.md-fab.md-mini(ng-show="isAdmin" ng-click="deletePost(blog)" data-toggle="tooltip" title="Delete")
                            span(class="glyphicon glyphicon-trash")
                        md-switch.md-primary(aria-label="switch" ng-model="blog.published" ng-show="isAdmin" ng-click="togglePublished(blog)" style="float:right; padding-left:8px; margin-top:8px")
                    h3(class="list-group-item-heading" href="#" ng-click="toggleView(blog)")
                        a(href="#") {{blog.title}}
                    h6 {{blog.updatedAt}}
                p(class="list-group-item-text" ng-if="blog.body.length > 80") {{blog.body | limitTo:80}}...
                p(class="list-group-item-text" ng-if="blog.body.length <= 80") {{blog.body}}
        md-button.md-fab.md-mini(type="submit" data-toggle="tooltip" title="Show more" ng-click="incrementLimit()" ng-if="limit < blogs.length") Show More
div(ng-show="!viewAll")
    .container
        ul(class="breadcrumb")
            li
                a(href="#" ng-click="resetView()") blog
            li
                a(href="#") {{currentBlog.title | limitTo:15}}
        div
            div(class="btn-group" style="float:right" ng-show="isAdmin")
                md-button.md-fab.md-mini.md-primary(ng-click="editPost()" data-toggle="tooltip" title="Edit post")
                    span(class="glyphicon glyphicon-pencil")
                md-button.md-fab.md-mini(ng-click="deletePost(currentBlog)" data-toggle="tooltip" title="Delete")
                    span(class="glyphicon glyphicon-trash")
            h1 {{currentBlog.title}}
        h6 {{currentBlog.updatedAt}}
        .container(style="padding-left:0px; padding-right:16px")
            div(class="well" ng-show="!edit" style="margin-right:12px")
                p.blackp {{currentBlog.body}}
            div(ng-show="edit")
                md-input-container.md-block(style="margin-bottom:0px")
                    label Title
                    textarea(ng-model="currentBlog.title")
                md-input-container
                    label Body
                    textarea(rows="5" ng-model="currentBlog.body")
                button.btn.btn-default(type="submit" data-toggle="tooltip" title="Publish" ng-click="submitEdit()")
                    span(class="glyphicon glyphicon-plus")
div(ng-show="!viewAll")
    div
        .container
            h2(ng-show="comments.length > 0") Comments
            ul.list-group
                li.list-group-item(ng-repeat="comment in comments" ng-if="comment.blogId == currentBlog._id" style="margin:0px")
                    p.blackp {{comment.body}}
                    md-button.md-fab.md-mini(data-toggle="tooltip" title="Delete" ng-show="isAdmin" ng-click="deleteComment(comment)")
                        span(class="glyphicon glyphicon-trash")
            md-input-container.md-block(style="margin-bottom:0px; margin-top:24px")
                label New Comment
                textarea(rows="5" ng-disabled="!isLoggedIn" ng-model="comment.text" style="padding-bottom:0px")
            md-button.md-fab.md-primary(type="submit" data-toggle="tooltip" title="Submit comment" ng-disabled="!isLoggedIn" ng-click="createComment()")
                span(class="glyphicon glyphicon-comment")

footer
