navbar
div(ng-show="viewAll")
    .container  
    
        div(ng-show="isAdmin")
            h3(class="list-group-item-heading") New post
            .form-group
                label Title
                input.form-control(type="text" ng-model="blogpost.title")
            .form-group
                label Body
                textarea.form-control(lines="5" ng-model="blogpost.body")
                div(class="btn-group")
                    button.btn.btn-default(type="submit" data-toggle="tooltip" title="Load draft" ng-click="loadDraft()")
                        span(class="glyphicon glyphicon-floppy-open")
                    button.btn.btn-default(type="submit" data-toggle="tooltip" title="Save draft" ng-click="saveDraft()")
                        span(class="glyphicon glyphicon-floppy-save")
                    button.btn.btn-default(type="submit" data-toggle="tooltip" title="Publish" ng-click="createPost()")
                        span(class="glyphicon glyphicon-plus")

        ul(class="list-group" ng-repeat="blog in blogs | orderBy: 'updatedAt':true | limitTo: limit")
            li(class="list-group-item" ng-show="blog.published")
                div
                    div(class="btn-group" style="float:right")
                        button.btn.btn-default
                            span(class="glyphicon glyphicon-comment")  0
                        button.btn.btn-default(ng-show="isAdmin" ng-click="deletePost(blog)" data-toggle="tooltip" title="Delete")
                            span(class="glyphicon glyphicon-trash")
                    h3(class="list-group-item-heading" href="#" ng-click="toggleView(blog)") 
                        a(href="#") {{blog.title}}
                    h6 {{blog.updatedAt}}
                p(class="list-group-item-text" ng-if="blog.body.length > 80") {{blog.body | limitTo:80}}...
                p(class="list-group-item-text" ng-if="blog.body.length <= 80") {{blog.body}}
        button.btn.btn-default(type="submit" data-toggle="tooltip" title="Show more" ng-click="incrementLimit()" ng-if="limit < blogs.length") Show More
div(ng-show="!viewAll")
    .container
        ul(class="breadcrumb")
            li
                a(href="#" ng-click="resetView()") blog
            li
                a(href="#") {{currentBlog.title | limitTo:15}}
        div
            div(class="btn-group" style="float:right" ng-show="isAdmin")
                button.btn.btn-default(ng-click="editPost()" data-toggle="tooltip" title="Edit post")
                    span(class="glyphicon glyphicon-pencil")
                button.btn.btn-default(ng-click="deletePost(currentBlog)" data-toggle="tooltip" title="Delete")
                    span(class="glyphicon glyphicon-trash")
            h1 {{currentBlog.title}}
        h6 {{currentBlog.updatedAt}}
        .container
            div(class="well" ng-show="!edit")
                p {{currentBlog.body}}
            div(ng-show="edit")
                .form-group
                    label Title
                    input.form-control(type="text" ng-model="currentBlog.title")
                .form-group
                    label Body
                    textarea.form-control(lines="5" ng-model="currentBlog.body")
                button.btn.btn-default(type="submit" data-toggle="tooltip" title="Publish" ng-click="submitEdit()")
                    span(class="glyphicon glyphicon-plus")
div(ng-show="!viewAll")
    div
        .container
            ul.list-group
                li.list-group-item(ng-repeat="comment in comments" ng-if="comment.blogId == currentBlog._id")    
                    p {{comment.body}}
                    button.btn.btn-default(data-toggle="tooltip" title="Delete" ng-show="isAdmin" ng-click="deleteComment(comment)")
                        span(class="glyphicon glyphicon-trash")
            .form-group
                label New Comment
                textarea.form-control(rows="5" ng-disabled="!isLoggedIn" ng-model="comment.text" placeholder="comment")
            button.btn.btn-default(type="submit" data-toggle="tooltip" title="Submit comment" ng-disabled="!isLoggedIn" ng-click="createComment()")
                span(class="glyphicon glyphicon-comment")

footer
