p,
.blackp {
    text-align: justify;
    //margin-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: black;
}
.well {
    margin-right: 24px;
}
.fa {
    padding-top: 0px;
}
.list-group-item {
    margin-bottom: 5px;

}
.list-group-item-text {
    color: black;
}
h6 {
    color: gray;
}
#submitButton {
  margin-top: 6px;
}
md-checkbox {
    padding-left: 8px;
    background: red;
}
.nothing-here {
    color:gray;
    text-align: center;
    font-style: italic;
}
