p {
    text-align: justify;
    //margin-right: 25px;
    padding-top: 12px;
    padding-bottom: 12px;
}
.well {
    margin-right: 24px;
}
.fa {
    padding-top: 0px;
}
.list-group-item {
    margin-bottom: 5px;
}
